.card-container {
    perspective: 1000px;
    width: 150px;
    height: 200px;
}

.card-container:hover .card {
    transform: rotateY(180deg);
}

/* .card.flip {
    transform: rotateY(180deg);
} */

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    border: 2px solid black;
    border-radius: 9px;
}

.card-front{
    background: linear-gradient( 45deg,  #c9c9c9 , #f7f7ff,#f7f7ff,#c9c9c9);
}

.card-front .value{
    font-weight: bold;
    font-size: 2rem;
    margin-left: 12px;
    margin-top: 7px;
}

.card-front .symbol{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7rem;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 9px;
}

.card-back {
    transform: rotateY(180deg);
    background-image:  repeating-linear-gradient(45deg, #444cf7 25%, transparent 25%, transparent 75%, #444cf7 75%, #444cf7), repeating-linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%, #e5e5f7 75%, #444cf7 75%, #444cf7);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}

#card-area {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}
